<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
          <!--Article section-->
          <div class="thumbnail">
                <img class="img-responsive" src="<%= podcast.image %>">   
                <div class="caption">
                    <!--<h4 class="pull-right">$<%=podcast.price%>/night</h4>-->
                    <h4><a><%= podcast.name %></a></h4>
                    <p><%= podcast.description %></p>
                    <p><em>Submitted By <%= podcast.author.username %></em></p>
                    
                    <% if(currentUser && podcast.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning btn-xs" href="/podcasts/<%= podcast._id %>/edit">Edit</a>
                        <form id="delete-form" action="/podcasts/<%= podcast._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-xs">Delete</button>
                        </form>
                    <% } %>
                </div>        
            </div>
            
            <!--Review section-->
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a href="/podcasts/<%= podcast._id %>/reviews">See all reviews</a></h4>
                    <div>
                        <a class="btn btn-success btn-xs pull-right" <% if (currentUser && podcast.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/podcasts/<%= podcast._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                    <% if (podcast.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (podcast.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (podcast.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (podcast.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (podcast.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= podcast.reviews.length %>)</em>
                    </p>
                    <p>
                        Current podcast rating: <strong><%= podcast.rating.toFixed(2) %></strong>
                    </p>
                    <hr style="margin-top: 0;">
                    <p><h4>Latest reviews for this podcast:</h4></p>
                    <% podcast.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/podcasts/<%=podcast._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/podcasts/<%=podcast._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
        
        <!--Comments section-->
        <div class="col-md-4">
            <div class="well">
                <h4><a>Comments</a></h4>
                <div class="text-right">
                    <a class="btn btn-xs btn-success" href="/podcasts/<%= podcast._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% podcast.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><em><%= comment.updatedAt.toDateString() %></em></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-xs btn-warning" href="/podcasts/<%= podcast._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form action="/podcasts/<%= podcast._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" id="delete-form">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete"></input>
                            </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    
</div>




<% include ../partials/footer %>